---
import { CollectionEntry, getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';

import { Icon } from 'astro-icon';

interface Props {
	entry: CollectionEntry<'work'>;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
	const work = await getCollection('work');
	return work.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}


const { entry } = Astro.props;
const { Content } = await entry.render();

---

<BaseLayout title={entry.data.title} description={entry.data.description} bodyclass={entry.data.bodyclass}>

	<section class="work-hero">
		<div class="work-hero-cover"></div>
		{entry.data.hero_type == 'video' && 
		<video id="video" class="vid-big" playsinline="" autoplay="true" loop="true" muted="true" width="100%">
			<source src={entry.data.hero_video} type="video/mp4">
		</video>
		}

		{entry.data.hero_type == 'img' &&
		<img src={entry.data.hero_img} alt={entry.data.img_alt}>
		}
		
	</section>

	<main>
	<section class="work-content">
	<div class="container" data-type="wide">
		<div class="work-logo">
			<Icon name={entry.data.logo} />
		</div>
		
		<h1>{entry.data.title}</h1>
		
		<div class="details">
			<div class="tags">
				<ul>
					{entry.data.tags.map((t) => <li>{t}</li>)}
				</ul>
			</div>
		</div>

		

	<Content />

	</div>
	</section>
	</main>

	<section class="work-related container">
		<a class="back-link" href="/work/"><Icon name="mdi:arrow-left" width="1.5em" /> Work</a>	
	</section>
	<ContactCTA />
</BaseLayout>


<style is:global>
	.work-logo {
		max-width: 200px;
		position: relative;
		top: -75px;
		z-index: 10;
	}
</style>

<style>
header {
	padding-bottom: 2.5rem;
}

main {
	position: relative;
}


.work-hero img, .work-hero video {
	object-fit: cover;
	height: 60vh;
}

.work-hero {
	position: relative;
	z-index: 5;
}

.tags {
	margin: 1rem 0 3rem;
}

.tags ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	gap: .75rem;
}

.tags li {
	border: 1px solid #fff;
	padding: .5rem 1rem;
	font-size: .75rem;
	border-radius: 1rem;
}



@media (min-width: 50em) {
	.work-hero img, .work-hero video {
		object-fit: cover;
		width: 100%;
		height: 85dvh;
	}
}
</style>
